<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Авторизация</title>
        <link rel="stylesheet" th:href="@{/css/login-box.css}">
    </head>

    <body>
    <img src="https://media1.thehungryjpeg.com/thumbs2/ori_3904762_qhtzqqftsvj8qwb9no430rw3rlk5i60du8y09y83_glitch-effect-frames-circle-distorted-shape-digital-broken-triangle.jpg">

    <div class="login-box">
        <h2>Авторизация</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" placeholder="Логин">

            </div>
            <div class="user-box">
                <input type="password" name="" placeholder="Пароль">
            </div>
            <a href="main">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Войти
            </a>
        </form>
    </div>

    </body>
</html>